@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", Sans-Serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    background: var(--bg-color);
}


.navbar a {
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--text-color);
    margin-left: 3.5rem;
    transition: .3s;
    padding: 10px;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}


#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.image-logo {
    height: 200px;
    width: 200px;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.name {
    font-size: 150px;
    position: relative;
    text-align: center;
}

.home-content .text-animate h1 {
    color: transparent;
    -webkit-text-stroke: 1px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--text-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33px 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}


.abb {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.info {
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

.start-button {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.start-button .button {
    margin: 10px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 55px;
    background: var(--main-color);
    border-radius: 4px;
    border: .2rem solid var(--main-color);
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.start-button .button:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.start-button .button:nth-child(2):hover {
    color: var(--bg-color);
}

.start-button .button:nth-child(2)::before {
    background: var(--main-color);
}

.start-button .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 1s;
}

.start-button .button:hover::before {
    width: 100%;
}

.start-button .button:hover {
    color: var(--main-color);
}

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -100rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}


@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width:768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active {
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: 1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
}

@media (max-width: 575px) {
    .home {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 20px;
    }

    .home-content .text-animate h1 {
        font-size: 30px;
    }

    .abb {
        font-size: 10px;
    }

    .info {
        font-size: 10px;
    }

    .start-button .button {
        width: 80px;
        height: 25px;
        font-size: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .home {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 20px;
    }

    .home-content .text-animate h1 {
        font-size: 100px;
    }

    .abb {
        font-size: 18px;
    }

    .info {
        font-size: 18px;
    }

    .start-button .button {
        width: 100px;
        height: 30px;
        font-size: 12px;
    }
}